<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">RawLabs</div>
    <div class="list-group list-group-flush">
        <a href="{% url 'dashboard:index' %}" class="list-group-item list-group-item-action bg-light">홈</a>
        <a href="{% url 'dashboard:imagefilter:list' %}" class="list-group-item list-group-item-action bg-light">이미지분류</a>
        <a href="{% url 'dashboard:user_list' %}" class="list-group-item list-group-item-action bg-light">사용자관리</a>
        <a href="{% url 'dashboard:company' %}" class="list-group-item list-group-item-action bg-light">업체정보</a>
    </div>
</div>