{% extends 'dashboard/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="mt-4">사용자 등록</h1>
                {% bootstrap_messages %}
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if request.user.is_company_admin %}
                        {% buttons %}
                            <button type="submit" class="btn btn-primary">등록</button>
                        {% endbuttons %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}